{% extends 'base_dash.html' %}
{% block title %}Course{% endblock %}
{% block content_dash %}

  <div class="mb-2" style="margin-top:56px">
    <nav class="navbar bg-purple-dark navbar-expand-sm navbar-dark shadow">
    <span class="navbar-text ml-2">
    <strong class=>{{course.name}}</strong>({{course.title}})<text class="ml-2">|</text>
     </span>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target_course">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapse_target_course">
      <ul class="navbar-nav">
        <li class="nav-item ml-2">
          <a class="nav-link" href="{% url 'announcements' course.name %}">Announcements</a>
        </li>
        <li class="nav-item ml-2">
          <a class="nav-link" href="{% url 'syllabus' course.name %}">Syllabus</a>
        </li>
        <li class="nav-item ml-2">
          <a class="nav-link" href="{% url 'people' course.name %}">People</a>
        </li>
        <li class="nav-item ml-2">
          <a class="nav-link" href="{% url 'tools' course.name %}">Tools</a>
        </li>
      </ul>
      </div>
    </nav>
  </div>


  <div class="container-fluid">



    {% block content_course %}
    {% endblock %}
  </div>

{% endblock %}
