{% extends 'base_course.html' %}
{% block title %}Announcements{% endblock %}
{% block content_course %}

<div class="card rounded border-0 shadow mt-1">
  <div class="card-header p-2">
  Teachers:</div>
  <div class="card-body p-2">
  <ul>
  {% for person in course.get_teachers %}
  <li>{{person.user.get_full_name}}</li>
  {% endfor %}
  </ul>
  </div>
</div>
{%if course.get_graders%}
<div class="card rounded border-0 shadow mt-1">
  <div class="card-header p-2">
  Graders:</div>
  <div class="card-body p-2">
  <ul>
  {% for person in course.get_graders %}
    <li>{{person.user.get_full_name}}</li>
  {% endfor %}
  </ul>
  </div>
</div>
{%endif%}


<div class="card rounded border-0 shadow mt-1">
  <div class="card-header p-2">
  Students:</div>
  <div class="card-body p-2">
  <ul>
  {% for person in course.get_students %}
    <li>{{person.user.get_full_name}}</li>
  {% endfor %}
  </ul>
  </div>
</div>

{% endblock %}
