{% extends 'base_course.html' %}
{% block title %}Announcements{% endblock %}
{% block content_course %}


<!-- Force Redirect -->
{% if user_is_registered %}
{% else %}
  <meta http-equiv="REFRESH" content="0;{% url 'courses' %}">
{% endif %}


<!-- Display People -->
<div class="card rounded border-0 shadow mt-1">
<div class="card-header">
<h3> People </h3>
</div>
<div class="card-header">
  Teachers:</div>
  <div class="card-body">
  <ul class="list-group list-group-flush">
  {% for person in course.get_teachers %}
  <li class="list-group-item">{{person.user.get_full_name}}</li>
  {% endfor %}
  </ul>
  </div>

{%if course.get_graders%}
<div class="card rounded border-0 shadow mt-1">
  <div class="card-header">
  Graders:</div>
  <div class="card-body">
  <ul class="list-group list-group-flush">
  {% for person in course.get_graders %}
    <li class="list-group-item">{{person.user.get_full_name}}</li>
  {% endfor %}
  </ul>
  </div>

{%endif%}



  <div class="card-header">
  Students:</div>
  <div class="card-body">
  <ul class="list-group list-group-flush">
  {% for person in course.get_students %}
    <li class="list-group-item">{{person.user.get_full_name}}</li>
  {% endfor %}
  </ul>
  </div>

</div>

{% endblock %}
