{% extends 'base_course.html' %}
{% block title %}Syllabus Edit{% endblock %}
{% block content_course %}


<!-- Force Redirect -->
{% if teacher_is_registered %}
{% else %}
  <meta http-equiv="REFRESH" content="0;{% url 'courses' %}">
{% endif %}


<!-- Edit Syllabus -->
{% if user.custom_user.reader_mode == False%}
<div class="card">
<div class="card-header">
Edit Content
</div>
<form class="ml-2" method="POST">
  <div class="card-body">
    
      
        <div class="form-group">
        <label for="id_content" class="text-dark">
        Content:
        </label>
        {{form.content}}
        <label for="id_due_date" class="text-dark">
        Due Date:
        </label>
        {{form.due_date}}
        </div>
       
          <button class="btn btn-success" type="submit">Save</button>     
          <button class="btn btn-danger" href="{% url 'syllabus' course.name %}">Cancel</button>

    </form>
  </div>
</div>
{% else %}
<div class="card bg-dark">
<div class="card-header text-light">
Edit Content
</div>
<form class="ml-2" method="POST">
  <div class="card-body">
    
      
        <div class="form-group">
        <label for="id_content" class="text-light">
        Content:
        </label>
        {{form.content}}
        <label for="id_due_date" class="text-light">
        Due Date:
        </label>
        {{form.due_date}}
        </div>
       
          <button class="btn btn-success" type="submit">Save</button>     
          <button class="btn btn-danger" href="{% url 'syllabus' course.name %}">Cancel</button>

    </form>
  </div>
</div>

{% endif %}
{% endblock %}
