{% extends 'base_course.html' %}
{% block title %}Syllabus{% endblock %}
{% block content_course %}


<!-- Force Redirect -->
{% if user_is_registered %}
{% else %}
  <meta http-equiv="REFRESH" content="0;{% url 'courses' %}">
{% endif %}


<!-- Page Heading -->
<div class="card">
  <div class="card-header">
    <h3 class="mt-2 ml-2">Syllabus for {{course.name}}</h3>
  </div>


<!-- Display Syllabus -->
  <div class="card-body">
  {% if course.course_syllabus.all%}
    <table class="table table-striped table-bordered shadow">
      <thead class="thead-dark">
        <tr>
          <th scope = "col md-2">Content</th>
          <th scope = "col md-6">Date</th>
          {% if user.custom_user.status == 'Teacher'%}
          <th scope = "col md-2">Actions</th>
          {% endif %}
        </tr>
      </thead>
      </tbody>
        {% for syllabus in course.get_syllabus%}
          <tr>
            <td>{{syllabus.content}}</td>
            <td>{{syllabus.due_date}}</td>
            {% if user.custom_user.status == 'Teacher'%}
            <td><a href="{% url 'syllabus_edit' course.name syllabus.id %}" class="text-primary mr-2">Edit</a>|<a href="{% url 'syllabus_delete' course.name syllabus.id %}" class="text-danger ml-2">Delete</a>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <text class="text-danger ml-2">NO SYLLABUS FOUND</text>
  {% endif %}
  </div>


<!-- Add Syllabus -->
  {% if user.custom_user.status == 'Teacher'%}
    <div class="card-footer">
      Add new syllabus item:
      <form class="ml-2" method="POST">
        <div class="input-group">
        {{form.content}}
        {{form.due_date}}
          <div class="input-group-append">
          </div>
          <div class="input-group-append">
            <button class="btn btn-orange" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  {% endif %}
</div>


{% endblock %}
