{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<body class="base_body_style_login">
  <div class="container-fluid">
 

<!-- Login textbox: -->
      
        <div class="login-box col-md-6 m-auto">
          <div class='card p-2 bg-none'>
            <h1 class="font-weight-bold text-dark text-center" style="font-family:'Lobster';">Gelms</h1>
            <form method="post" class="mt-4">
              {% csrf_token %}
              {% if form.errors %}
							<div class="text-dark small bg-warning p-1 ml-0 mb-2 rounded shadow-sm">
								Please enter a valid username and/or password.<br> Note that your password is case sensitive.
							</div>{%endif%}
              <div class="form-group">
								<label class="login-form" for="email">Username</label><br> 
                {{form.username}}
							</div>
							<div class="form-group">
								<label class="login-form" for="password">Password</label><br> 
                {{form.password}}
							</div>
              <button type="submit" class="btn btn-primary btn-block"  style="margin-top:45px;margin-bottom:10px;">Login</button>
              
            </form>
            {% comment %} <a class="btn btn-dark btn-block" href="{%url "admin:index" %}">Admin Login</a> {% endcomment %}
          </div>
        </div>
      

<!-- GELMS description textbox: -->
      {% comment %} <div class="col-md-6">
        <div class="jumbotron bg-dark shadow">
          <h2 class="text-weight-bold text-light">GELMS</h2>
          <p class="lead text-light">GELMS or Generic Electronic Learning Management System is an online LMS created with human users in mind, whether you are a student seeking an organized view of your course syllabus, assignments and grades or whether you are an instructor looking to set those. </p>
        </div>
      </div> {% endcomment %}

 
</div>

<nav class="navbar navbar-expand-sm bg-pink navbar-dark fixed-bottom justify-content-center shadow">
<a class="nav-link text-warning p-0 rounded" href="{% url "help" %}">Help</a>
</nav>

{% endblock %}
