{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<body class="base_body_style_login">
  <div class="container">
    <div class="row mt-5">

<!-- Login textbox: -->
      <div class="col-md-6">
        <div class="login-box">
          <div class='card login shadow'>
            <h3 class="font-weight-bold text-light">Login</h3>
            <form method="post">
              {% csrf_token %}
              {%if form.errors%}
							<div class="text-light small bg-danger p-1 ml-0 mb-2 rounded shadow-sm">
								{{form.error_messages.invalid_login}}
							</div>{%endif%}
              <div class="form-group">
								<label class="login-form" for="email">Username</label><br> 
                {{form.username}}
							</div>
							<div class="form-group">
								<label class="login-form" for="password">Password</label><br> 
                {{form.password}}
							</div>
              <button type="submit" class="btn btn-primary btn-block"  style="margin-top:45px;margin-bottom:10px;">Login</button>
              <a class="text-danger font-weight-bold bg-dark p-1 pl-3 pr-3 mt-2 mb-2 rounded" href="{%url "admin:index" %}">Admin Login</a>
            </form>
          </div>
        </div>
      </div>

<!-- GELMS description textbox: -->
      <div class="col-md-6">
        <div class="jumbotron bg-dark shadow">
          <h2 class="text-weight-bold text-light">GELMS</h2>
          <p class="lead text-light">GELMS or Generic Electronic Learning Management System is an online LMS created with human users in mind, whether you are a student seeking an organized view of your course syllabus, assignments and grades or whether you are an instructor looking to set those. </p>
        </div>
      </div>

  </div>
</div>

{% endblock %}
